#registerHeader {
  font-size: 1.777em;
  line-height: 1.2em;
  margin-top: 1.6em;
  margin-bottom: 30px;
  font-weight: bold;
  word-wrap: break-word;
  color: #4d4d4d;
  text-align: left;
}

#main {
  margin-top: 70px;
}

#loginHeader {
  font-size: 1.777em;
  line-height: 1.2em;
  margin-top: 1.6em;
  margin-bottom: 30px;
  font-weight: bold;
  word-wrap: break-word;
  color: #4d4d4d;
  text-align: left;
}

